doctype html
html(lang="ko")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{pageTitle} | WeTube
    //-개발중 조금이라도 예쁘게 MVP Styles 사용
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
  body
    header 
      //-다른 텍스트를 섞지 않으면 이런식으로 사용 가능
      h1=pageTitle
      nav 
        ul 
          li 
            a(href="/video/upload") Upload Video
          li
            a(href="/") Home
          li 
            a(href="/search") Search
    main
      block potato
  include partials/footer