extends base

block potato 
  if(errorMessage)
    span=errorMessage
  form(method="POST")
    input(name="email" type="email" placeholder="eMail 주소" required)
    input(name="username" type="text" placeholder="ID" required)
    input(name="password" type="password" placeholder="Passwrod" required)
    input(name="password2" type="password" placeholder="Confirm Passwrod" required)
    input(name="name" type="text" placeholder="이름" required)
    input(name="location" type="text" placeholder="주소" required)
    input(type="submit" value="Join")