extends base

block potato
  h2 Upload Video
  if errorMessage 
    span=errorMessage
  form(method="POST")
    input(placeholder="Title", type="text" name="uploadVideoTitle", maxlength=80, required)
    input(placeholder="Description", type="text" name="description", minlength=10, required)
    input(placeholder="Hashtags, separated by comma.", type="text" name="hashtags", required)
    input(type="submit", value="Upload Video")